# Copy to /etc/ucagent/vcs-license.env, set owner root:root and mode 0600.
# Do not add this file to a repository, run snapshot, artifact, or project.
#
# Set only one of these when your license administrator provides its value:
# SNPSLMD_LICENSE_FILE=<license-server-or-license-file>
# LM_LICENSE_FILE=<license-server-or-license-file>
